<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <base href="/mytab">
</head>
<body>






  

  
  
  <!-- <nz-select nzPlaceHolder="Company" [(ngModel)]="selectedValue" >
    <nz-option nzLabel="VS" nzValue="VS" ></nz-option>
    <nz-option nzLabel="CP" nzValue="CP"></nz-option>
  </nz-select> -->




  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton"class="select">
    <input type="text" nz-input placeholder="input search text"  [(ngModel)]="searchValue" />
  </nz-input-group>
    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" >
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()" ><i nz-icon nzType="search"></i></button>
      </ng-template>
    </nz-filter-trigger>

  
  <div class="bunButton">
  <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="selectedValue !== null" >
    <nz-select nzPlaceHolder="Company" [(ngModel)]="selectedValue" (ngModelChange)="select()"  >
      <nz-option nzLabel="VS" nzValue="VS" ></nz-option>
      <nz-option nzLabel="CP" nzValue="CP" ></nz-option>
    </nz-select>
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
  </nz-filter-trigger>
  </div>

  <button nz-button nzType="default" (click)="showModal()" class="bun"> Добавить пользователя </button>
  <br />
  <br />




  <nz-table #myTable 
         nzShowSizeChanger
         [(nzData)]="listOfDisplayData"
         nzTableLayout="fixed" 
         nzShowPagination="true">
    <thead>
      <tr>
        <th nzCustomFilter [nzSortFn]="namecompare" [nzSortPriority]="namepriority" >Name </th>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        <th nzCustomFilter >Company</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of myTable.data" >
        <td>{{data.name}}</td>
        <td>{{data.file}}</td>
        <td>{{data.listened}}</td>
        <td>{{data.company}}</td>
        <td>
            <a ><button nz-button nzType="default" (click)="showModalTwo(data)" > <i nz-icon nzType="edit" nzTheme="outline"></i></button></a>
            <a ><button nz-button nzType="default" (click)="deleteNotDelete(data)" nzDanger > <i nz-icon nzType="delete" nzTheme="outline"></i></button></a>
        </td>
      </tr>
    </tbody>
  </nz-table>



  <!-- <nz-upload nzAction="http://localhost:8080/api/candy/multipart" [nzFileList]="fileList">
    <button nz-button><i nz-icon nzType="upload"></i>Upload</button>
  </nz-upload> -->






  <nz-modal [(nzVisible)]="isVisible" nzTitle="Add/Edit Candy" (nzOnCancel)="handleCancel()" (nzOnOk)="addORedit()">
    <ng-container *nzModalContent>
      <input type="text" nz-input placeholder="input name"  [(ngModel)]="newName" /> <br><br>
      <nz-upload
      nzAction="http://localhost:8080/api/candy/multipart"
      [nzHeaders]="{ authorization: 'authorization-text' }"
      (nzChange)="handleChange($event)">
      <button nz-button><i nz-icon nzType="upload"></i>Upload file</button>
    </nz-upload><br><br>
      <!-- <input type="text" nz-input placeholder="Добавляй, не добавляй, может, дело в с"  [(ngModel)]="newFile" /> <br><br> -->
      Listened = {{forNoEditListened}} <br><br>
      <nz-radio-group [(ngModel)]="newCompany" nzButtonStyle="solid">
        <label nz-radio-button nzValue="VS">VS</label>
        <label nz-radio-button nzValue="CP">CP</label>
        <!-- <label nz-radio-button nzValue="OMG">OMG</label> -->
      </nz-radio-group> <br><br>

      <!-- <button nz-button nzType="default" (click)="addCandy()" class="bun"> Добавить пользователя </button> -->
    </ng-container>
  </nz-modal>



  <nz-modal [(nzVisible)]="isVisibleTwo" nzTitle="Delete Candy" (nzOnCancel)="handleCancel()" (nzOnOk)="deleteCandy(forDeleteId)">
    <ng-container *nzModalContent>
      <p>Do you want delete?</p>
    </ng-container>
  </nz-modal>


</body>
</html>
