.otstup{
    padding: 0px 5px;
}
.select{
    width: 20%;
    padding: 0px 15px;
}

.bun{
        position: absolute;
        right: 7%;     
}

.bunButton{
    padding: 0px 5px;
    position: absolute;
    right: 60%;
    top: 11%;
}

.bunButtonTwo{
    width: max-content;
    position: absolute;
    right: 80%;
    top: 11%;
}