<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <base href="/">
</head>
<body>


  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
              <div class="sidebar-logo">
                <a>
                  <img src="https://img.freepik.com/free-icon/auricular-phone_318-1028.jpg?size=338&ext=jpg">
                  <h1>Unifun</h1>
                </a>
              </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzTitle="Choice" nzIcon="heart" >
          <ul>
            <li nz-menu-item><a routerLink="/mytab"> Candy Store </a> </li>
            <li nz-menu-item><a routerLink="/candy"> Candy Server </a>  </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>  


</body>
</html>
